.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    font-family: Tahoma, sans-serif;
    background-color: #f5f5f5;
}

.content_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
}
.margin_top_0 {
    margin-top: 0!important;
}
.center_content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.full_height {
    height: 100vh;
}
.section_1 {
    background-image: url("./images/pattern.png"), url("./images/cover.jpg");
    background-repeat: repeat, no-repeat;
    background-size: 2px, cover;
    position: relative;
}
.section_1 .center_content {
    flex-direction: column;
}
.section_1 .center_content .sub_title {
    font-size: 14px;
    color: #fff
}
.section_1 .center_content .title {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
    margin: 10px 0;
    padding: 0 20px;
    color: #fff
}
.section_1 .center_content .next_slide_arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_1 .center_content .next_slide_arrow .fa {
    color: #ffffff;
    font-size: 30px;
}
.stick_wrapper {
    height: 51px;
    background-color: #fff;
}
.header {
    display: flex;
    width: 100%;
    color: #ffffff;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
}

.header .header_content {
    height: 50px;
    text-transform: uppercase;
    font-family: "Times New Roman", sans-serif;
    background-color: #ffffff;
}

header .navigation_wrapper {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar_brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: #000;
    transition: 600ms linear;
    letter-spacing: 3px;
    outline: none;
}
a:hover {
    color: #ffa14d;
}
a:visited {
    color: #ffa14d;
}
.header .header_content .nav_menu {
    float: right;
}

.navbar_right li {
    display: inline;
    margin: 0;
    padding: 5px;
    list-style-type: none;
    margin-right: 15px;
    font-size: 14px;
}

.stick_wrapper .center_wrapper {
    flex-direction: column;
    padding: 120px 0 100px;
    width: 100%;
    height: 100px ;
    background-color: #f5f5f5;
}

.stick_wrapper .center_wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.center_wrapper .title2 {
    position: center;
}

h2 {
    font-size: 30px;
    margin: 0 0 30px;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    color: #222;
}
.center_wrapper_stick {
    background: rgba(135, 135, 135, 0.5);
    width: 100px;
    height: 1px;
    margin: 30px auto;

}
.center_wrapper .container .container_wrapper {
    float: left;
    margin-left: 25%;
    width: 50%;
}

.center_wrapper .container .container_wrapper .context {
    position: relative;
    font-family: "Times New Roman", sans-serif;
    color: #666;
    text-align: center;
    max-width: 555px;
    margin: auto;
}
.center_wrapper .table {
    width: 100%;
    margin: 30px 15px;
    clear: none;
    display: flex;
    text-align: center;

}

.center_wrapper .table .icon_box {
    background: #fff;
    border-bottom: 1px solid #d4d4d4;
    text-align: center;
    padding: 40px 20px;
    margin: 0 0 20px;
}
.center_wrapper .table .table_box {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 25%;
    color: #222;
}

.center_wrapper .table .table_box .table_text {
    font-size: 10px;
}
.center_wrapper .table .table_box .table_text .table_title {
    margin: 0 0 15px;
}

.center_wrapper .table .table_box .icon_box .table_icon {
    font-size: 20px;
}

.section_3 {
    background-color: #ffffff;
    padding: 120px 0 100px;
}
.content {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.section_3 .title3 {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 0;

}
.section_3 .separator {
    height: 1px;
    width: 100px;
    border-bottom: 1px solid;
    color: #c4c4c4;
    margin: 30px auto;
}
.section_3 .desk {
    font-size: 18px;
    color: #000;
    width: 100%;
    max-width: 555px;
    margin: 0 auto;
    display: block;
}
.section_3 .galery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;

}
.section_3 .galery .item {
    width: 360px;
    height: 225px;
    margin-top: 40px;
    position: relative;
}

.section_3 .galery .item .hover_area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(158, 84, 6, .4);
    padding: 20px;
    opacity: 0;
    transition: .5s ease;
}
.section_3 .galery .item .hover_area .desc_area {
    border: 1px solid #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: 2s ease;
}
.section_3 .galery .item .hover_area .desc_area .text {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
}
.section_3 .galery .item:hover .hover_area{
    opacity: 1;
    cursor: pointer;
    transition: 0.5s ease;
}
.section_3 .galery .item:hover .hover_area .desc_area{
    opacity: 1;
    transition: 0.5s ease;
}
.section_3 .galery .item img{
    width: 360px;
    height: 225px;
}

.section_4 {
    padding: 120px 0 100px;
 }

.section_4 .separator {
    height: 1px;
    width: 100px;
    border-bottom: 1px solid;
    color: #c4c4c4;
    margin: 30px auto;
}
.section_4 .desk {
    font-size: 18px;
    color: #666;
    width: 100%;
    max-width: 555px;
    margin: 0 auto;
    display: block;
}
.section_4 .galery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.card {
    float: left;
    padding: 20px;
    margin: 0 20px 0 0;
}

.donut-chart {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
.donut-chart .slice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.donut-chart .chart-center {
    position: absolute;
    border-radius: 50%;
}
.donut-chart .chart-center span {
    display: block;
    text-align: center;
}

.donut-chart.chart4 {
    width: 120px;
    height: 120px;
    background: #f26a4a;
}
.donut-chart.chart4 .slice.one {
    clip: rect(0 120px 60px 0);
    -webkit-transform: rotate(252deg);
    transform: rotate(252deg);
    background: #e1e1e1;
}
.donut-chart.chart4 .slice.two {
    clip: rect(0 60px 120px 0);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #e1e1e1;
}
.donut-chart.chart4 .chart-center {
    top: 7.5px;
    left: 7.5px;
    width: 105px;
    height: 105px;
    background: #f5f5f5;
}
.donut-chart.chart4 .chart-center span {
    font-size: 30px;
    line-height: 105px;
    color: #f26a4a;
}

.donut-chart.chart4 .slice.one_2 {
    clip: rect(0 120px 60px 0);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #e1e1e1;
}


.donut-chart.chart4 .slice.two_4 {
    clip: rect(60px 120px 240px 60px);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #e1e1e1;
}
.donut-chart.chart4 .slice.one_4 {
    clip: rect(0 120px 60px 0);
    -webkit-transform: rotate(-54deg);
    transform: rotate(-54deg);
    background: #e1e1e1;
}
