.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    font-family: Tahoma, sans-serif;
    background-color: #f5f5f5;
}

.content_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}
.center_content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.full_height {
    height: 100vh;
}
.section_1 {
    background-image: url("./images/pattern.png"), url("./images/cover.jpg");
    background-repeat: repeat, no-repeat;
    background-size: 2px, cover;
    position: relative;
}
.section_1 .center_content {
    flex-direction: column;
   // z-index: 2;
}
.section_1 .center_content .sub_title {
    font-size: 14px;
    color: #fff
}
.section_1 .center_content .title {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
    margin: 10px 0;
    padding: 0 20px;
    color: #fff
}
.section_1 .center_content .next_slide_arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_1 .center_content .next_slide_arrow .fa {
    color: #ffffff;
    font-size: 30px;
}
.stick_wrapper {
    height: 51px;
}
.header {
    display: flex;
    width: 100%;
    position: relative;
    color: #ffffff;
}

.header .header_content {
    position: relative;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-family: "Times New Roman", sans-serif;
    background-color: #ffffff;
}

.navigation_wrapper {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar_brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: #000;
    transition: 600ms linear;
    letter-spacing: 3px;
    outline: none;
}
a:hover {
    color: #ffa14d;
}
\\a:visited {
    color: #ffa14d;
}
.header .header_content .nav_menu {
    float: right;
}

.navbar_right li {
    display: inline;
    margin: 0;
    padding: 5px;
    list-style-type: none;
    margin-right: 15px;
    font-size: 14px;
}

.stick_wrapper .center_wrapper {
    flex-direction: column;
    padding: 120px 0 100px;
    width: 100%;
    height: 100px ;
    background-color: #f5f5f5;
}

.stick_wrapper .center_wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.center_wrapper .title2 {
    position: center;
}

h2 {
    font-size: 30px;
    margin: 0 0 30px;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    color: #222;
}
.center_wrapper_stick {
    background: rgba(135, 135, 135, 0.5);
    width: 100px;
    height: 1px;
    margin: 30px auto;

}
.center_wrapper .container .container_wrapper {
    float: left;
    margin-left: 25%;
    width: 50%;
}

.center_wrapper .container .container_wrapper .context {
    position: relative;
    font-family: "Times New Roman", sans-serif;
    color: #666;
    text-align: center;
    max-width: 555px;
    margin: auto;
}
.table {
    width: 100%;
    margin: 30px 15px;
    clear: none;
    display: flex;
    text-align: center;

}

.table .icon_box {
    background: #fff;
    border-bottom: 1px solid #d4d4d4;
    text-align: center;
    padding: 40px 20px;
    margin: 0 0 20px;
}
.table .table_box {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 25%;
    color: #222;
}

.table .table_box .table_text {
    font-size: 10px;
}
table. table_box .table_text .table_title {
    margin: 0 0 15px;
}

.table .table_box .icon_box .table_icon {
    font-size: 20px;
}